{extend name="base"/}
 {block name="content"}
<div id="dcWrap">
 {include file="public:header" /}

<!-- dcHead 结束 --> 
{include file="public:nav" /}
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 管理中心<b>></b><strong>首页轮播图</strong> </div>   <div class="mainBox imgModule">
    <h3>编辑{$dataname}
       </h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
    <tr>
       <th>编辑{$dataname}</th>
    
     </tr>
     <tr>
      <td width="350" valign="top">
       <form action="" id="caro_data" class="formEdit" method="post" enctype="multipart/form-data">
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableOnebor">
         <tr>
          <td><b>{$dataname}名称</b>
			<input type="text" id="caro_name" name="caro_name" value="{$data['caro_name']}" size="20" class="inpMain"/>
		  <font style="display:none" class="adcaro_name" color='red'>名称不能未空</font>
          </td>
         </tr>
          <tr>
          <td><b>链接</b>
			<input type="text"  name="action" value="{$data['action']}" size="50" class="inpMain" />
			
          </td>
         </tr>
         <tr>
          <td>
		  <!--lay上传图片-->
		  <a class="layui-btn" id="image" style="float: left;"><i class="layui-icon">&#xe67c;</i>上传图片</a>
			<img style="margin-left: 110px;" id="img" src="{$data['caro_img']}" width="500" height="140">
			<input type="hidden" id="caro_img" name="caro_img" value="{$data['caro_img']}"/>
			<font style="display:none" class="adcaro_img" color='red'>请上传图片</font>	
		   </td>
         </tr>
         <tr>
          {if condition="$pid==3"}
       		<tr>
          <td><b>正反面 反为2</b>
			<input type="text" name="caro_zh" id="caro_zh" value="{$data['caro_zh']}" size="20" class="inpMain" />	
          </td>
         </tr>	
         {/if}	
          <td><b>排序</b>
			<input type="text" name="caro_sort" id="caro_sort" value="{$data['caro_sort']}" size="20" class="inpMain" />
			<font style="display:none" class="adcaro_sort" color='red'>排序不能为空</font>	
          </td>
         </tr>
         <tr>
          <td>
		  <a href="{:url('admin/imgclass/in_carousel',['pid'=>$pid])}" class="btnGray">取消</a>
                      <input type="hidden" name="token" value="79db104d" />
                      <input type="hidden" name="pid" value="{$pid}" />
					  <input type="hidden" name="caro_id" value="{$data['caro_id']}" />
			<input type="button" onclick='caro_edit()' value="提交" class="btn"/>
          </td>
         </tr>
        </table>
       </form>
      </td>
      <td valign="top">
       <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableOnebor">
        <tr>
         <td width="100">首页轮播图</td>
         <td width="100">首页轮播图名称</td>
         <td width="100">链接</td>
         {if condition="$pid==3"}<td width="100">正反</td>{/if}
         <td width="50" align="center">排序</td>
         <td width="80" align="center">操作</td>
        </tr>
		{foreach name="carodata" item="vo"}
                <tr>
         <td><a href="{$vo['caro_img']}" target="_blank"><img src="{$vo['caro_img']}" width="100" /></a></td>
         <td>{$vo['caro_name']}</td>
         <td>{$vo['action']}</td>
         {if condition="$pid==3"}<td>{$vo['caro_zh']=='1'?'正':'反'}</td>{/if}
         <td align="center">{$vo['caro_sort']}</td>
         <td align="center"><a  class="layui-btn layui-btn-sm" href="{:url('admin/imgclass/edit_carousel',['caro_id'=>$vo['caro_id'],'pid'=>$vo['pid']])}">编辑</a><a  class="layui-btn layui-btn-sm" href="JavaScript:" onclick="caro_dele('确定要删除吗？',{$vo['caro_id']})">删除</a></td>
        </tr>
         {/foreach}       
               </table>
      </td>
     </tr>
    </table>
   </div>
 </div>
 <div class="clear"></div>
 <script>
 //上传图片
layui.use('upload',function(){
  var upload = layui.upload,
  jq = layui.jquery;
  upload.render({
	url: '{:url("admin/imgclass/upload")}'
	,elem:'#image'
	,ext: 'jpg|png|gif'
	,area: ['500', '500px']
	,done: function(res){
	jq('input[name=img]').val(res.path);
	img.src = ""+res.path;
	$("#caro_img").val(res.path);
	}
  }); 

})
//提交
$(function(){
	$("#car_name").blur(function(){
	$(".adcar_name").hide();
	})
	$("#caro_img").blur(function(){
	$(".adcaro_img").hide();
	})
	$("#caro_sort").blur(function(){
	$(".adcaro_sort").hide();
	})

})
function caro_edit(){
	var pid={$pid};
	var success_url="{:url('admin/imgclass/in_carousel')}?pid="+pid;
	var url="{:url('admin/imgclass/edit_carousel')}";
	var admins=$("#caro_data").serialize();
	//alert(admins);
	var caro_img=$("#caro_img").val();
	var caro_sort=$("#caro_sort").val();
	if(caro_img.length<1){
	$(".adcaro_img").show();
	}else if(caro_sort.length <1){
	$(".adcaro_sort").show();
	}else{
	$.post(url,admins,function(result)
	{	 
	if(result.status=='4')
		{
		dialog.success(result.message,success_url);
		}else
		{
			dialog.error(result.message);
		} 
		})
	}

}
//删除轮播图
function caro_dele(message, id) {
        layer.open({
            content : message,
			
            icon:3,
            btn : ['是','否'],
            yes : function(){
                var url="{:url('admin/imgclass/caro_dele')}";
				var success_url="{:url('admin/imgclass/in_carousel')}";
				$.post(url,{'admin_id':id},function(result){
				if(result.status=='1')
					{
					dialog.success(result.message,success_url);
					}else
					{
						dialog.error(result.message);
					} 
				})
            }
        });
    }
</script>
{/block}