{extend name="base"/}
 {block name="content"}
		<!--<div id="nav_companylntroduction">-->
			<!--<ul>-->
				<!--<li _type="1"  class="on">					-->
					<!--<a href="">{$name}</a>				-->
				<!--</li>-->
			<!--</ul>-->
		<!--</div>-->
		<div id="main_newsdetails">
			{if condition="$newdata != NULL "}
			<h3 class="news_title">{$newdata['cont_title']}</h3>
			
			<div class="news_main">
				{$newdata['cont_text']}
			</div>
			{else /}
			<div class="nolist">	
					<div>
						<img src="__STATIC__/index/img/erweima_1.jpg"/>
						<h3>暂无内容</h3>
					</div>
			</div>
			{/if}
		</div>	
{/block}	